@model Web.Models.Reservations.ConfirmationViewModel


<h1 style="text-align:left">Your reservation</h1>

<table class="table">
    <thead>
        <tr style="height:50px"></tr>
        <tr>
            <th colspan="7" style="text-align:center; border-top:none; border-bottom:solid">
                Flight @Model.FlightSource -> @Model.FlightDestination, @Model.DepartureTime
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Първо име
            </th>
            <th>
                Презиме
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Националност
            </th>
            <th>
                Телефонен номер
            </th>
            <th>
                ЕГН
            </th>
            <th>
                Вид на билета
            </th>
        </tr>
        @foreach (var item in Model.Passangers)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.MiddleName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Nationality
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.UCN
                </td>
                <td>
                    @item.TicketType
                </td>
            </tr>
        }
    </tbody>
</table>
