@using Web.Models.Users
@model Web.Models.Users.UsersListViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@using (Html.BeginForm())
{
<div id="pro_pag2" style="display:flex; float:left">
    <input asp-for="Pager.CurrentPage" type="hidden" value="1" />
    <input asp-for="FilterCriteria" type="hidden" value="@Model.FilterCriteria" />
    <input asp-for="Filter" type="hidden" value="@Model.Filter" />
    @Html.DropDownListFor(m => m.Pager.PageSize,
                       new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "25", 25 } }, "Key", "Value"),
                       new { @class = "pro_pag_tf1", id = "pagesizelist" })

</div>
}

@using (Html.BeginForm())
{
<div style="margin-bottom:20px; display:flex; float:right" id="pro_pag2">
    @Html.DropDownListFor(m => m.FilterCriteria,
                       new SelectList(new Dictionary<string, string> { { "email", "Email" }, { "username", "Username" }, { "firstName", "First name" }, { "lastName", "Last name" } }, "Key", "Value"),
                       new { @class = "pro_pag_tf1" })
    <input asp-for="Filter" />
    <input asp-for="Pager.CurrentPage" type="hidden" value="1" />
    <input type="submit" value="Filter" class="btn btn-primary" />


</div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Потребителско име
            </th>
            <th>
                Имейл
            </th>
            <th>
                Първо име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                ЕГН
            </th>
            <th>
                Адрес
            </th>
            <th>
                Телефонен номер
            </th>
            <th>
                Роля
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (UsersViewModel item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UCN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>

                <td>
                    @if (item.Role != "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    @for (var i = 1; i <= Model.Pager.PagesCount; i++)
    {
        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
            <a asp-route-Pager.CurrentPage="@i" asp-route-Pager.PageSize="@Model.Pager.PageSize" asp-route-FilterCriteria ="@Model.FilterCriteria" asp-route-Filter ="@Model.Filter"class="page-link">@i</a>
        </li>
    }
</ul>

@section scripts {
    <script type="text/javascript">
        $('#pagesizelist').on('change', function (event) {
            var form = $(event.target).parents('form');

            form.submit();
        });
    </script>
}
