@using Web.Models.Flights
@model Web.Models.Flights.AdminListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Flights</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@using (Html.BeginForm())
{
    <div id="pro_pag2" style="margin-bottom: 20px">
        <input asp-for="Pager.CurrentPage" type="hidden" value="1" />
        @Html.DropDownListFor(m => m.Pager.PageSize,
                           new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "25", 25 } }, "Key", "Value"),
                           new { @class = "pro_pag_tf1", id = "pagesizelist" })

    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                От
            </th>
            <th>
                Дестинация
            </th>
            <th>
                Време на излитане
            </th>
            <th>
                Време на кацане
            </th>
            <th>
                Вида на самолета
            </th>
            <th>
                Номер на самолета
            </th>
            <th>
               Име на пилота
            </th>
            <th>
               Обикновени места
            </th>
            <th>
               Бизнес места
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaneType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PilotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegularSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessSeats)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    @for (var i = 1; i <= Model.Pager.PagesCount; i++)
    {
        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
            <a asp-route-Pager.CurrentPage="@i" asp-route-Pager.PageSize="@Model.Pager.PageSize" class="page-link">@i</a>
        </li>
    }
</ul>

@section scripts {
    <script type="text/javascript">
        $('#pagesizelist').on('change', function (event) {
            var form = $(event.target).parents('form');

            form.submit();
        });
    </script>
}
